<div class="my-2 first:mt-0">
  <div class="flex flex-row justify-between sm:items-start">
    <div class="flex flex-row flex-1">
      <a 
        class="font-base text-lg font-title font-medium"
        href="{{ post.url }}"
      >{{ post.data.title }}</a>
    </div>

    <div class="text-xs sm:text-sm">{{ post.date | humanDate }}</div>
  </div>

  <div class="flex flex-row items-center justify-between mt-1.5 mb-0.5">
    <span class="text-xs text-gray-600 dark:text-gray-400 leading-none">
      {{ post.data.description }}
    </span>

    {% if post.data.language %}
    <div class="text-gray-300">
      {% if post.data.language == 'eng' %}
      <p class="m-0" style="line-height: 0">
        <a 
          title="Traduzione italiano"
          class="text-xs" 
          href="{{ post.url }}/ita">In italiano</a>
      </p>
      {% elif post.data.language == 'ita' %}
      <p class="m-0" style="line-height: 0">
        <a 
          title="English language"
          class="text-xs" 
          href="{{ post.url }}">English version</a>
      </p>
      {% endif %}
    </div>
    {% endif %}

    {# {% if post.data.language %}
      <div class="uppercase h-min text-xs leading-none dark:bg-gray-700 rounded px-1 py-0.5">
        {{ post.data.language }}
      </div>
    {% endif %} #}
  </div>
</div>
