<div class="my-2 first:mt-0">
  <div class="flex flex-col sm:flex-row justify-between sm:items-center">
    <a 
      class="truncate font-base text-lg sm:max-w-[75%] font-title font-medium"
      href="{{ post.url }}"
    >
      {{ post.data.title }}
    </a>
    <span class="text-xs sm:text-sm">
      {{ post.date | humanDate }}
    </span>
  </div>
  <span class="text-xs text-gray-600 dark:text-gray-400 leading-none">
    {{ post.data.tags | tagList | safe }}
  </span>
</div>
