@import "tailwindcss";

@theme {
  --color-main: theme('colors.blue.600');
  --color-main-dark: theme('colors.amber.400');
  --color-darkBackground: #112840;
  --color-lightBackground: #f5f5f5;

  --font-sans:
    InterVariable, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    'EB Garamond', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-title:
    Sora, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility article {
  a {
    @apply text-main dark:text-main-dark;
    text-decoration: none;
  }

  /* a::after {
    @apply text-main;
    position: relative;
    content: '\FEFF°';
    margin-left: 0.1em;
    top: -0.1em;
    font-feature-settings: 'caps';
    font-variant-numeric: normal;
  } */

  /* @media print {
    a::after {
      display: none;
    }
  } */
}
@utility generic {
  a {
    @apply text-main dark:text-main-dark;
    text-decoration: none;
  }
}

@utility post {
  a {
    @apply text-main dark:text-main-dark;
    font-style: normal;
    text-decoration: underline;
  }
}

@utility video-container {
  @apply mb-6;
}

@utility title-heading {
  @apply leading-snug mb-4 dark:text-white text-gray-900;
}

@layer base {
  body {
    @apply dark:bg-darkBackground bg-lightBackground;
  }

  /* Prevent outline on videos */
  :focus-visible {
    @apply outline-none;
  }

  /* ================================
   * PARAGRAPHS
   * ================================
   */
  p {
    @apply text-[1.1rem] dark:text-gray-200 text-gray-900 leading-relaxed tracking-normal antialiased max-w-prose;
    margin: 20px 0;
  }

  p:first-of-type {
    margin: 0;
  }

  p:empty {
    display: none;
  }

  /* ================================
   * ANCHOR
   * ================================
   */
  a em {
    font-style: normal !important;
  }

  a:hover {
    @apply text-main dark:text-main-dark;
  }

  a:visited,
  a:active,
  a:focus {
    outline: none;
  }

  h1 a::after,
  h2 a::after,
  h3 a::after {
    content: none;
  }

  /* FOOTNOTES */
  a[data-footnote-ref] {
    @apply ml-[4px];
  }

  /* ================================
   * HEADINGS
   * ================================
   */
  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    font-size: 1.65rem;
    line-height: 2rem;
    @apply font-semibold tracking-tight font-title mt-14 mb-5;
  }

  h3 {
    @apply text-xl font-semibold;
    @apply font-medium tracking-tight font-title mt-8 mb-5;
  }

  h4 {
    @apply text-lg font-semibold;
  }

  /* ================================
   * HR
   * ================================
   */
  hr {
    @apply my-10 mx-10 h-px relative overflow-visible border-none text-center bg-neutral-300 dark:bg-gray-700;
  }

  hr::after {
    content: '⟁';
    @apply dark:text-main relative -top-[15px] p-4 bg-lightBackground dark:bg-darkBackground;
  }

  /* ================================
   * FIGURE
   * ================================
   */
  figure {
    @apply my-10;
  }

  figcaption {
    @apply text-center italic text-sm mt-2 dark:text-gray-400 text-gray-500;
  }

  /* ================================
   * LISTS
   * ================================
   */
  ul {
    @apply list-disc;
  }

  li {
    @apply text-[1.1rem] leading-[1.725];
  }

  /* ================================
   * IMG
   * ================================
   */
  img {
    @apply mx-auto rounded-md;
  }

  /* ================================
   * STRONG
   * ================================
   */
  strong {
    @apply font-bold;
  }

  /* ================================
   * BLOCKQUOTE
   * ================================
   */
  blockquote {
    @apply text-gray-500 dark:text-gray-300 italic py-2 pl-10 pr-0;
    margin-top: 20px;

    p {
      white-space: break-spaces;
    }
  }

  blockquote p {
    font-size: 1.1rem;
  }

  /* ================================
   * CODE
   * ================================
   */

  :not(pre)>code {
    background: var(--ec-frm-edBg);
    @apply text-sm;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    border: var(--ec-brdWd) solid var(--ec-brdCol);
  }

  /* ================================
   * FOOTNOTES
   * ================================
   */
  section.footnotes {
    @apply mt-18;

    ol {
      @apply list-decimal list-inside;

      p {
        @apply inline text-[1rem] dark:text-gray-200 text-gray-900 leading-snug tracking-normal antialiased;
      }
    }
  }
}

@layer utilities {

  /* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  /* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
  @media (prefers-color-scheme: light) {
    html {
      color-scheme: ligth;
    }
  }
}

@media(hover: hover) {
  .expressive-code .copy button {
    width: 1.8rem !important;
    height: 1.8rem !important;
  }
}
