@utility post {
  font-size: 18px;

  a {
    @apply underline;
  }

  h1 a,
  h2 a,
  h3 a {
    @apply no-underline;
  }
}

@utility home-p {
  @apply text-[1.125rem] my-2 leading-relaxed;

  & a {
    @apply underline;
  }
}
