@import 'tailwindcss';
@import './post.css';
@import './article.css';

@theme {
  --color-specialred: #cd123f;

  --font-sans:
    InterVariable, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    'EB Garamond', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-title:
    Sora, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility generic {
  a {
    text-decoration: none;
  }

  a:visited,
  a:active,
  a:focus {
    outline: none;
  }

  h1 a::after,
  h2 a::after,
  h3 a::after {
    content: none;
  }

  a::after {
    @apply text-red-600;
    position: relative;
    content: '\FEFF°';
    margin-left: 0.1em;
    top: -0.1em;
    font-feature-settings: 'caps';
    font-variant-numeric: normal;
  }
}

@layer utilities {
  /* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }

  /* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
  @media (prefers-color-scheme: light) {
    html {
      color-scheme: ligth;
    }
  }
}

@layer base {
  p {
    @apply text-[1.1rem] leading-relaxed;
    margin: 20px 0;
  }

  p:first-of-type {
    margin: 0;
  }

  p:empty {
    display: none;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    @apply font-semibold tracking-tight font-title;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    @apply font-semibold tracking-tight font-title mt-14 mb-5;
  }

  h3 {
    font-size: 1.35rem;
    line-height: 1em;
    @apply font-medium tracking-tight font-title mt-8 mb-5;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 0.7em;
    @apply font-medium tracking-tight font-title mt-8 mb-5;
  }

  a:hover {
    @apply text-red-600 dark:text-specialred;
  }

  strong {
    @apply font-bold;
  }

  blockquote {
    @apply text-gray-500 dark:text-gray-300 italic py-2 pl-10 pr-0;
    margin-top: 20px;
  }

  blockquote p {
    font-size: 1.1rem;
  }

  code:not([class^='language']) {
    @apply dark:bg-gray-700 bg-gray-500 text-white px-1 py-0.5 rounded-[.3rem] whitespace-nowrap text-base;
  }

  code[class^='language'] {
    @apply font-mono text-[14px];
  }

  figure {
    @apply my-6;
  }

  figcaption {
    @apply text-center italic text-sm mt-2 dark:text-gray-400 text-gray-500;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply text-[1.1rem] leading-[1.725];
  }

  img {
    @apply mx-auto rounded-md;
  }

  hr {
    @apply my-10 mx-10 h-px relative overflow-visible border-none text-center bg-neutral-300 dark:bg-gray-700;
  }

  hr::after {
    content: '⟁';
    @apply dark:text-red-600 relative -top-[15px] p-4 bg-[#f5f5f5] dark:bg-[#0e0d1e];
  }
}

@media print {
  a::after {
    display: none;
  }
}

.video-container {
  @apply my-6;
}
