---
layout: base
templateEngineOverride: njk, md
permalink: "/blog/{{ page.fileSlug }}/index.html"
---

<article>
  <div class="mb-8 sm:mb-12">
    <h1 class="leading-snug mb-4">
      <center class="font-medium hidden sm:block text-specialred">/</center>
      {{ title }}
    </h1>

    <div class="flex flex-col sm:flex-row justify-between">
      <div class="flex flex-col">
        <small>
          <time>{{ date | humanDate }}</time>
        </small>
        <small class="dark:text-gray-400 flex flex-row gap-2">
          {{ tags | tagList | safe }}
        </small>
      </div>

      {% if translation %}
      <div class="sm:self-end sm:justify-self-end">
        {% if translation == 'eng' %}
        <a 
          title="Traduzione italiano"
          class="text-sm" 
          href="/blog/{{ page.fileSlug }}/ita">Versione italiana</a>
        {% elif translation == 'ita' %}
        <a 
          title="English translation"
          class="text-sm" 
          href="/blog/{{ page.fileSlug }}">English version</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="leading-relaxed post {% if tags.includes("articles") %}article{% endif %}">
    {{ content | safe }}
  </div>
</article>
