---
layout: base
templateEngineOverride: njk, md
permalink: "/blog/{{ page.fileSlug }}/index.html"
---

<article>
  <div class="mb-8 sm:mb-12">
    <h1 class="leading-snug mb-4">
      <center class="font-medium hidden sm:block text-specialred mb-5">/</center>
      {{ title }}
    </h1>

    <div class="flex flex-col sm:flex-row justify-between">
      <div class="flex flex-col justify-center text-sm text-gray-500 dark:text-gray-400">
          <time>{{ date | humanDate }}</time>


        {# TAGS #}
        {# <small class="dark:text-gray-400 flex flex-row gap-2">
          {{ tags | tagList | safe }}
        </small> #}
      </div>

      {% if language %}
      <div class="sm:self-end sm:justify-self-end text-sm text-gray-500 dark:text-gray-400">
        {% if language == 'eng' %}
        <a 
          title="Versione italiana"
          class="text-sm"
          href="/blog/{{ page.fileSlug }}/ita">Versione italiana</a>
        {% elif language == 'ita' %}
        <a 
          title="English version"
          class="text-sm"
          href="/blog/{{ page.fileSlug }}">English version</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="post {% if tags.includes("articles") %}article{% endif %}">
    {{ content | safe }}
  </div>
</article>
