<!doctype html>
<html lang="{{ metadata.language or "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or metadata.title }} | Elia Scotto</title>

    {% include "../components/metadata.njk" %} 

    <link rel="stylesheet" href="{{ '/styles/styles.css' | url }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | url }}"/>
    <link rel="stylesheet" href="{{ '/assets/css/prism-theme.css' | url }}"/>
  </head>
  <body class="dark:bg-[#0e0d1e] bg-[#f5f5f5] text-gray-800 dark:text-gray-100">
    <div class="md:p-8 p-6 pt-12 flex flex-col">
      {% include "../components/header.njk" %}
      <div class="m-0 md:mx-auto w-full max-w-[780px] flex md:flex-row-reverse flex-col justify-start gap-8">
        {% include "../components/menu.njk" %}
        <main role="main" class="flex flex-col min-w-0 flex-1">
          {{ content | safe }}
          {% include "../components/footer.njk" %}
        </main>
      </div>
    </div>
    <!-- Analytics -->
    <script data-goatcounter="https://scotto.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
