---
layout: base
templateEngineOverride: njk, md
---

<section class="generic">
  <div class="mb-6">
    <h1 class="leading-snug">
      <center class="font-medium hidden sm:block text-specialred">/</center>
    </h1>
  </div>

  {{ content | safe }}
</section>
