---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostsList from '../components/PostsList.astro';
import { getAllPosts, getTranslationsMap, getTranslationUrl } from '../lib/content';

const posts = await getAllPosts();
const translationMap = await getTranslationsMap();
const latestPosts = posts.slice(0, 7);
---
<BaseLayout title="Elia Scotto" currentPath="/">
  <section>
    <h1 class="font-light mb-4 text-4xl">
      Hi there, I'm <strong class="font-semibold">Elia Scotto</strong>
    </h1>

    <p>
      I write articles, I write code, but I'm not that great at writing short presentation of myself.
      In the <a class="underline italic" href="/blog/">blog</a> section you can find a curated 
      collection of tech articles and some reviews of interesting content that I come across.
    </p>

    <div class="mt-10">
      <h2 class="mb-6">Latest posts</h2>
  
      <div class="flex flex-col">
        {latestPosts.map((post) => (
          <PostsList
            post={post}
            translationUrl={translationMap.get(post.slug) ? getTranslationUrl(translationMap.get(post.slug)!) : undefined}
          />
        ))}
      </div>
    </div>
  </section>
</BaseLayout>
