---
import MenuLayout from "../layouts/MenuLayout.astro";
import PostsList from "../components/PostsList.astro";
import {
    getAllPosts,
    getTranslationsMap,
    getTranslationUrl,
} from "../lib/content";
import { getPersonSchema, getWebsiteSchema } from "../lib/structuredData";

const posts = await getAllPosts();
const translationMap = await getTranslationsMap();
const latestPosts = posts.slice(0, 7);
const structuredData = [getPersonSchema(), getWebsiteSchema()];
---

<MenuLayout title="Elia Scotto" currentPath="/" structuredData={structuredData}>
    <section>
        <h1 class="font-light mb-4 text-4xl">
            Hi there,<br class="sm:hidden" /> I'm <strong class="font-semibold"
                >Elia Scotto</strong
            >
        </h1>

        <p>
            <blockquote class="pl-0">
                "Quot Libros, Quam Breve Tempus." — Augustus
            </blockquote>
            So many books, so little time.
        </p>

        <h2 class="mb-8">Latest posts</h2>

        <div class="flex flex-col">
            {
                latestPosts.map((post) => (
                    <PostsList
                        post={post}
                        translationUrl={
                            translationMap.get(post.slug)
                                ? getTranslationUrl(
                                      translationMap.get(post.slug)!,
                                  )
                                : undefined
                        }
                    />
                ))
            }
        </div>
    </section>
</MenuLayout>
