---
import MenuLayout from "../layouts/MenuLayout.astro";
import RSSLink from "../components/RSSLink.astro";
---

<MenuLayout title="RSS" currentPath="/rss/">
  <section>
    <div class="mt-0">
      <h2 class="mt-0 title-heading text-gray-400 font-light text-base">RSS</h2>
    </div>

    <p>Subscribe to all content, or choose a feed for a specific category.</p>

    <div class="mt-4 flex flex-col gap-4 font-light italic">
      <RSSLink href="/feed.xml" text="All posts" />
      <RSSLink href="/techFeed.xml" text="Tech" />
      <RSSLink href="/articlesFeed.xml" text="Articles" />
      <RSSLink href="/withNotesFeed.xml" text="All posts + notes" />
    </div>
  </section>
</MenuLayout>
