---
import RSSLink from "./RSSLink.astro";
---

<div class="h-32 pb-3 flex items-center justify-center">
  <p
    class="w-full text-center text-sm italic dark:text-gray-500 text-neutral-500"
  >
    Elia Scotto &sdot;
    <RSSLink
      href="/rss/"
      text="RSS"
      class="dark:fill-gray-500 fill-neutral-500"
    />
  </p>
</div>
