@tailwind base;
@tailwind components;
@tailwind utilities;

/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: ligth;
  }
}

@layer base {
  p {
    @apply text-[1.1rem] leading-[1.725];
    margin: 1rem 0;
  }

  p:empty {
    display: none;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    @apply font-semibold tracking-tight font-title;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    @apply font-semibold
           tracking-tight
           font-title
           mt-14
           mb-5;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1em;
    @apply font-medium
           tracking-tight
           font-title
           mt-8
           mb-5;
  }

  a:hover {
    @apply text-red-600 dark:text-specialred;
  }

  strong {
    @apply font-bold;
  }

  blockquote {
    @apply text-gray-500
           dark:text-gray-300
           italic
           py-2
           pl-10
           pr-0
           rounded-md;
  }

  blockquote p {
    font-size: 1.1rem;
  }

  code:not([class^='language']) {
    @apply dark:bg-gray-700
           bg-gray-500
           text-white
           px-1 py-0.5
           rounded-[.3rem]
           whitespace-nowrap
           text-base;
  }

  code[class^='language'] {
    @apply font-mono text-[0.9rem];
  }

  figure {
    @apply my-6;
  }

  figcaption {
    @apply text-center
           italic
           text-sm
           mt-2
           dark:text-gray-400 text-gray-500;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply text-[1.1rem] leading-[1.725];
  }

  img {
    @apply mx-auto rounded-md;
  }

  hr {
    @apply my-10 mx-10 h-px relative overflow-visible border-none
            bg-gradient-to-r from-transparent via-neutral-300 via-50% dark:via-gray-700 to-transparent;
  }
}

@layer components {
  .post {
    font-size: 18px;

    a {
      @apply underline;
    }
  
    h1 a,
    h2 a,
    h3 a {
      @apply no-underline;
    }
  }

  .home-p {
    @apply text-[1.125rem]
           my-[0.5rem]
           leading-relaxed;
  }

  .home-p a {
    @apply underline;
  }

  .article {
    p {
      @apply font-serif text-[1.2rem] mb-0;
      text-indent: 1em;
    }

    a {
      text-decoration: none;
    }

    a::after {
      position: relative;
      content: "\FEFF°";
      margin-left: 0.10em;
      top: -0.10em;
      @apply text-red-600;
      font-feature-settings: "caps";
      font-variant-numeric: normal;
    }

    blockquote p {
      @apply text-[1.2rem];
    }
  }
}

@media print {
  a::after {
    display: none;
  }
}

.footnotes-sep {
  @apply  border-gray-700 dark:border-gray-500
          mt-12
          border-dashed;
}

.footnotes-list {
  @apply list-disc pl-6;
}
