@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-[1.1rem] leading-[1.725];
    margin: 1rem 0;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    @apply font-semibold tracking-tight font-title;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    @apply font-semibold
           tracking-tight
           font-title
           mt-14
           mb-5;
  }

  h3 {
    font-size: 1.5rem;
    @apply font-medium
           tracking-tight
           font-title
           mt-8
           mb-5;
  }

  a:hover {
    @apply text-red-600 dark:text-specialred;
  }

  strong {
    @apply font-bold;
  }

  blockquote {
    @apply text-gray-600
           dark:text-gray-300
           italic
           py-2
           pl-10
           pr-0
           rounded-md;
  }

  blockquote p {
    font-size: 1rem !important;
  }

  code:not([class^='language']) {
    @apply dark:bg-gray-700
           bg-gray-500
           text-white
           px-1 py-0.5
           rounded-[.3rem]
           whitespace-nowrap
           text-base;
  }

  code[class^='language'] {
    @apply font-mono text-[0.9rem];
  }

  figcaption {
    @apply text-center
           italic
           text-sm
           mt-2
           dark:text-gray-400 text-gray-500;
  }

  ul {
    @apply list-disc;
  }

  li {
    @apply text-[1.1rem] leading-[1.725];
  }
}

@layer components {
  .post {
    font-size: 18px;
  }

  .post a {
    @apply underline;
  }

  .post h1 a,
  .post h2 a,
  .post h3 a {
    @apply no-underline;
  }

  .home-p {
    @apply text-[1.125rem]
           my-[0.5rem]
           leading-relaxed;
  }

  .home-p a {
    @apply underline;
  }
}


.footnotes-sep {
  @apply  border-gray-700 dark:border-gray-500
          mt-12
          border-dashed;
}

.footnotes-list {
  @apply list-disc pl-6;
}
