---
layout: page
title: Elia Scotto
name: About
---

<p class="home-p font-medium">
  I'm a passionate software engineer who loves designing and building high-quality software.
</p>

<div class="hidden md:flex justify-center h-[22rem] my-8">
  <img
    class="object-cover rounded-md w-3/4"
    style="object-position: 50% 35%"
    title="Me and Opal"
    src="{{ meta.image }}"
  />
</div>

<p class="home-p">
  My background has been primarily in developing <strong>web applications</strong> from the ground up.
  Today I mainly use <strong>Clojure</strong> and Clojurescript, but I've been
  working extensively with modern JS frameworks for years.
</p>

<p class="home-p">
  I've worked in multiple startups from Silicon Valley, to Switzerland, to Australia.
</p>

<p class="home-p">
  Most of the code I released is available on my github account
  <a href="{{ meta.github }}">@eliascotto</a>.
</p>

<h2 class="mt-16 mb-3">
  Open Invite
</h2>

<p class="home-p">
  If you have something interesting to discuss or collaborate on,
  feel free to send me a message at <strong>elia@scotto.me</strong> .
</p>
