---
layout: page
title: Elia Scotto
name: About
---

<h1 class="font-light mb-4">
  Hi there, I'm <strong class="font-semibold">Elia Scotto</strong>
</h1>

<p class="home-p font-medium">
  I'm a passionate software engineer who loves designing and building high-quality software.
</p>

<div class="hidden md:flex items-center justify-center h-min ">
  <img
    class="h-5/6 w-1/2 object-cover rounded-md"
    style="object-position: 50% 35%"
    title="Me and Opal"
    src="{{ meta.image }}"
  />
</div>

<p class="home-p">
  My background has been primarily in developing <strong>web applications</strong> from the ground up.
  Today I mainly use <strong>Clojure</strong> and Clojurescript, but I've been
  working extensively with modern JS frameworks for years.
</p>

<p class="home-p">
  I've worked in multiple startups from Silicon Valley, to Switzerland, to Australia.
</p>

<p class="home-p">
  Most of the code I released is available on my github account
  <a href="{{ meta.github }}">@eliascotto</a>.
</p>

<h2 class="mt-16 mb-3">
  Open Invite
</h2>

<p class="home-p">
  If you have something interesting to discuss together,
  feel free to send me a message at <strong>hello@scotto.me</strong> .
</p>
