---
layout: page
title: Blog
name: Blog
eleventyExcludeFromCollections: true
---

<div class="mb-6">
  <h2 class="leading-snug mb-4 mt-0">Articles</h2>
</div>

<div class="flex flex-col">
{%- for post in collections.general | reverse -%}
{% include 'components/posts.njk' %}
{%- endfor -%}
</div>


<div class="mb-6">
  <h2 class="leading-snug mb-4">Reviews</h2>
</div>

<div class="flex flex-col">
{%- for post in collections.reviews | reverse -%}
{% include 'components/posts.njk' %}
{%- endfor -%}
</div>

<div class="mb-6">
  <h2 class="leading-snug mb-4">Tech</h2>
</div>

<div class="flex flex-col">
{%- for post in collections.posts | reverse -%}
{% include 'components/posts.njk' %}
{%- endfor -%}
</div>