---
layout: page
title: Blog
name: Blog
---

<div class="mb-6">
  <h2 class="leading-snug mb-4">Articles</h2>
</div>

{%- for post in collections.articles | reverse -%}
{% include 'components/posts.njk' %}
{%- endfor -%}

<div class="mb-6 mt-12">
  <h2 class="leading-snug mb-4">Tech</h2>
</div>

<div class="flex flex-col">
{%- for post in collections.posts | reverse -%}
{% include 'components/posts.njk' %}
{%- endfor -%}
</div>