---
layout: default
title: Home
name: Home
eleventyExcludeFromCollections: true
---

<h1 class="font-light mb-4">
  Hi there, I'm <strong class="font-semibold">Elia Scotto</strong>
</h1>

<p class="">
  I write articles, I write code, but I'm not that great at writing short presentation of myself.
  In the <a class="underline italic" href="/blog">blog</a> section you can find a curated collection of posts about interesting topics, which at the moment are mostly book reviews and tech articles.
</p>

<h2 class="mb-3">
  Latest posts
</h2>

{% set latest_posts = collections.all | reverse %}
{%- for post in latest_posts.slice(0,5) -%}
  {% if post.data.title and post.data.title != '' %}
    {% include 'components/posts.njk' %}
  {% endif %}
{%- endfor -%}
