---
layout: base
title: Elia Scotto
name: Home
---

<h1 class="font-light mb-4">
  Hi there, I'm <strong class="font-semibold">Elia Scotto</strong>
</h1>

<p class="home-p">
  This is a place where I'm going to collect various notes about my jorney.
  I hope, one day, to use this collection to make sense of my experiences and the projects I've worked on.
</p>

<h2 class="mb-3">
  Latest posts
</h2>

{% set latest_posts = collections.all | reverse %}
{%- for post in latest_posts.slice(0,3) -%}
  {% include 'components/posts.njk' %}
{%- endfor -%}
