---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - posts
permalink: /tags/{{ tag | slug }}/
eleventyExcludeFromCollections: true
---

<section>
  <div class="mb-6">
    <h1 class="leading-snug mb-4">
      <center class="font-medium hidden sm:block text-specialred">/</center>
      #{{ tag }}
    </h1>
  </div>

  {% set taglist = collections[ tag ] %}
  
  <div class="flex flex-col">
  {% for post in taglist | reverse %}
    {% include 'components/posts.njk' %}
  {% endfor %}
  </div>
</section>
